<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Zeratul</string>
		<key>baseHP</key>
		<integer>820</integer>
		<key>baseHPRegen</key>
		<real>1.707</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>65</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<integer>1</integer>
		<key>hitPointsPerLevel</key>
		<integer>135</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.281</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>12</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.021</real>
		<key>title</key>
		<string>Dark Prelate</string>
		<key>lore</key>
		<string>The enigmatic Dark Templar Zeratul faithfully serves the Xel&apos;Naga. While he expertly wields the powers of the Void, it is his wisdom that earns him the respect of the Koprulu sector&apos;s greatest leaders - despite his penchant for dramatic entrances.</string>
		<key>universe</key>
		<string>Starcraft</string>
		<key>roles</key>
		<array>
			<string>Melee</string>
			<string>Assassin</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Valla</string>
		<key>baseHP</key>
		<integer>700</integer>
		<key>baseHPRegen</key>
		<real>1.461</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>64</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<real>5.5</real>
		<key>hitPointsPerLevel</key>
		<integer>110</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.227</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>9</integer>
		<key>attackSpeedPerLevel</key>
		<integer>0</integer>
		<key>title</key>
		<string>Demon Hunter</string>
		<key>lore</key>
		<string>Valla witnessed the ferocity of hellspawn firsthand as the demons ravaged her village and left her for dead. Now, with no people to call her own, her only allegiance is to her cause: to rid Sanctuary of the demonic filth corrupting its lands.</string>
		<key>universe</key>
		<string>Diablo</string>
		<key>roles</key>
		<array>
			<string>Ranged</string>
			<string>Assassin</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Uther</string>
		<key>baseHP</key>
		<integer>890</integer>
		<key>baseHPRegen</key>
		<real>1.855</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>47</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<integer>1</integer>
		<key>hitPointsPerLevel</key>
		<integer>190</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.395</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>5</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.03</real>
		<key>title</key>
		<string>The Lightbringer</string>
		<key>lore</key>
		<string>The first paladin and founder of the Order of the Silver Hand, Uther the Lightbringer is a faithful servant of the Light. Dispensing justice with the swing of his hammer, Uther is a bastion of truth and an unflinching symbol of the Alliance.</string>
		<key>universe</key>
		<string>Warcraft</string>
		<key>roles</key>
		<array>
			<string>Melee</string>
			<string>Support</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Tyrande</string>
		<key>baseHP</key>
		<integer>635</integer>
		<key>baseHPRegen</key>
		<real>1.324</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>50</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<real>5.5</real>
		<key>hitPointsPerLevel</key>
		<integer>150</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.313</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>5</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.057</real>
		<key>title</key>
		<string>High Priestess of Elune</string>
		<key>lore</key>
		<string>Tyrande Whisperwind strikes fear into all who wish ill of the Kaldorei. As the highest ranking Sentinel and High Priestess of Elune, she is not only the Night Elves&apos; most deadly warrior, but also their most cunning leader.</string>
		<key>universe</key>
		<string>Warcraft</string>
		<key>roles</key>
		<array>
			<string>Ranged</string>
			<string>Support</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Tyrael</string>
		<key>baseHP</key>
		<integer>1020</integer>
		<key>baseHPRegen</key>
		<real>2.215</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>49</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<integer>1</integer>
		<key>hitPointsPerLevel</key>
		<integer>220</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.457</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>6</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.03</real>
		<key>title</key>
		<string>Archangel of Justice</string>
		<key>lore</key>
		<string>Among the angels it is the Archangel of Justice Tyrael who is humanity&apos;s greatest defender. Wielding his sword El&apos;druin against the Burning Hells, the Prime Evils would have enslaved Sanctuary and all of humanity long ago if Tyrael had not intervened.</string>
		<key>universe</key>
		<string>Diablo</string>
		<key>roles</key>
		<array>
			<string>Melee</string>
			<string>Warrior</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Tychus</string>
		<key>baseHP</key>
		<integer>725</integer>
		<key>baseHPRegen</key>
		<real>1.512</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>24</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<real>4.5</real>
		<key>hitPointsPerLevel</key>
		<integer>140</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.289</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>6</integer>
		<key>attackSpeedPerLevel</key>
		<real>0</real>
		<key>title</key>
		<string>Notorious Outlaw</string>
		<key>lore</key>
		<string>Tychus Findlay is a big man with a big ego and even bigger gun. Fortunately enough, his loyalty is easily won. Buy him a whiskey or three and promise him enough credits, and there&apos;s no job in the whole universe too dangerous for this outlaw.</string>
		<key>universe</key>
		<string>Starcraft</string>
		<key>roles</key>
		<array>
			<string>Ranged</string>
			<string>Assassin</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Tassadar</string>
		<key>baseHP</key>
		<integer>750</integer>
		<key>baseHPRegen</key>
		<real>1.813</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>54</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<real>5.5</real>
		<key>hitPointsPerLevel</key>
		<integer>125</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.262</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>7</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.013</real>
		<key>title</key>
		<string>Savior of the Templar</string>
		<key>lore</key>
		<string>An Executor without equal, Tassadar has fought tirelessly to purify the Koprulu sector of the zerg infestation. Only now, after learning to wield the shadowy powers of the void, is Tassadar finally ready to face the Overmind and its all-consuming Swarm.</string>
		<key>universe</key>
		<string>Starcraft</string>
		<key>roles</key>
		<array>
			<string>Ranged</string>
			<string>Support</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Stitches</string>
		<key>baseHP</key>
		<integer>1060</integer>
		<key>baseHPRegen</key>
		<real>2.207</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>55</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<integer>1</integer>
		<key>hitPointsPerLevel</key>
		<integer>260</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.543</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>5</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.013</real>
		<key>title</key>
		<string>Terror of Darkshire</string>
		<key>lore</key>
		<string>Take care when traversing the shadowed trails of Duskwood...Ever since Abercrombie the Embalmer unleashed his abomination upon Darkshire, Stitches has wandered the road aimlessly, hungering for the flesh of low level Alliance players.</string>
		<key>universe</key>
		<string>Warcraft</string>
		<key>roles</key>
		<array>
			<string>Melee</string>
			<string>Warrior</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Sonya</string>
		<key>baseHP</key>
		<integer>930</integer>
		<key>baseHPRegen</key>
		<real>1.938</real>
		<key>baseEnergy</key>
		<integer>0</integer>
		<key>baseEnergyRegen</key>
		<integer>0</integer>
		<key>baseAttack</key>
		<integer>59</integer>
		<key>baseAttackSpeed</key>
		<real>1</real>
		<key>range</key>
		<integer>1</integer>
		<key>hitPointsPerLevel</key>
		<integer>210</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.44</real>
		<key>energyPerLevel</key>
		<integer>0</integer>
		<key>energyRegenPerLevel</key>
		<integer>0</integer>
		<key>attackPerLevel</key>
		<integer>6</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.03</real>
		<key>title</key>
		<string>Wandering Barbarian</string>
		<key>lore</key>
		<string>From the frozen Dreadlands of the north comes the mighty Barbarian warriors. After surviving of the destruction of her home and death of her tribe, Sonya wanders Sanctuary in search of battle and a better life for her people.</string>
		<key>universe</key>
		<string>Diablo</string>
		<key>roles</key>
		<array>
			<string>Melee</string>
			<string>Warrior</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Sergeant Hammer</string>
		<key>baseHP</key>
		<integer>770</integer>
		<key>baseHPRegen</key>
		<real>1.605</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>55</integer>
		<key>baseAttackSpeed</key>
		<real>1.25</real>
		<key>range</key>
		<real>5.5</real>
		<key>hitPointsPerLevel</key>
		<integer>170</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.355</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>10</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.013</real>
		<key>title</key>
		<string>Siege Tank Operator</string>
		<key>lore</key>
		<string>Sergeant Bama &quot;the Hammer&quot; Kowalski has served some of the toughest tours around the Koprulu sector. The thunderous roar of her siege tank&apos;s shock cannon strikes fear right into the heart of the toughest of warriors... including some of her allies.</string>
		<key>universe</key>
		<string>Starcraft</string>
		<key>roles</key>
		<array>
			<string>Ranged</string>
			<string>Specialist</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Raynor</string>
		<key>baseHP</key>
		<integer>725</integer>
		<key>baseHPRegen</key>
		<real>1.512</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>63</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<real>5.5</real>
		<key>hitPointsPerLevel</key>
		<integer>120</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.25</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>11</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.03</real>
		<key>title</key>
		<string>Renegade Commander</string>
		<key>lore</key>
		<string>Ex-Confederate Marshall James Raynor has stood against whatever the universe can throw at him and survived. He stands as a bright beacon of hope among enigmatic aliens and monsters, still fighting for justice in a cold uncaring universe.</string>
		<key>universe</key>
		<string>Starcraft</string>
		<key>roles</key>
		<array>
			<string>Ranged</string>
			<string>Assassin</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Nazeebo</string>
		<key>baseHP</key>
		<integer>740</integer>
		<key>baseHPRegen</key>
		<real>1.539</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>57</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<real>5.5</real>
		<key>hitPointsPerLevel</key>
		<integer>150</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.313</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>6</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.03</real>
		<key>title</key>
		<string>Heretic Witch Doctor</string>
		<key>lore</key>
		<string>With cabalistic incantations and vestments of feather and bone, the Witch Doctors call upon spirits from the Unformed Land to aid them in battle. Few outlanders have ever encountered a Witch Doctor in the flesh, without losing their own.</string>
		<key>universe</key>
		<string>Diablo</string>
		<key>roles</key>
		<array>
			<string>Ranged</string>
			<string>Specialist</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Nova</string>
		<key>baseHP</key>
		<integer>700</integer>
		<key>baseHPRegen</key>
		<real>1.457</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>60</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<real>6.5</real>
		<key>hitPointsPerLevel</key>
		<integer>110</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.227</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>9</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.05</real>
		<key>title</key>
		<string>Dominion Ghost</string>
		<key>lore</key>
		<string>November &quot;Nova&quot; Terra is a ghost of the Terran Dominion and one of the most powerful psionic soldiers ever known. Nova is highly focused, determined, and extremely deadly. Even Jim Raynor wouldn&apos;t want to be caught within her crosshairs.</string>
		<key>universe</key>
		<string>Starcraft</string>
		<key>roles</key>
		<array>
			<string>Ranged</string>
			<string>Assassin</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Murky</string>
		<key>baseHP</key>
		<integer>250</integer>
		<key>baseHPRegen</key>
		<integer>5</integer>
		<key>baseEnergy</key>
		<integer>0</integer>
		<key>baseEnergyRegen</key>
		<integer>0</integer>
		<key>baseAttack</key>
		<integer>28</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<integer>1</integer>
		<key>hitPointsPerLevel</key>
		<integer>60</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.125</real>
		<key>energyPerLevel</key>
		<integer>0</integer>
		<key>energyRegenPerLevel</key>
		<integer>0</integer>
		<key>attackPerLevel</key>
		<integer>5</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.03</real>
		<key>title</key>
		<string>Baby Murloc</string>
		<key>lore</key>
		<string>Mrgglglbrlg rmrmgllg mrggggm. Mrrglglgy, mgllglgl mgggrrmgl? MRGGGLGLLM! Mrrggllgggllggll mrrglrlg mrrg mrrg mrrrg.</string>
		<key>universe</key>
		<string>Warcraft</string>
		<key>roles</key>
		<array>
			<string>Melee</string>
			<string>Specialist</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Muradin</string>
		<key>baseHP</key>
		<integer>1040</integer>
		<key>baseHPRegen</key>
		<real>2.168</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>59</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<integer>1</integer>
		<key>hitPointsPerLevel</key>
		<integer>240</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.5</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>6</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.03</real>
		<key>title</key>
		<string>Mountain King</string>
		<key>lore</key>
		<string>Once a mentor to Prince Arthas, Muradin was unable to prevent him from becoming the Lich King. After recovering from a mild case of amnesia, he is now the leader of the Bronzebeard clan post the &quot;diamond-ization&quot; of his brother the King Magni.</string>
		<key>universe</key>
		<string>Warcraft</string>
		<key>roles</key>
		<array>
			<string>Melee</string>
			<string>Warrior</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Malfurion</string>
		<key>baseHP</key>
		<integer>835</integer>
		<key>baseHPRegen</key>
		<real>1.738</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>52</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<real>5.5</real>
		<key>hitPointsPerLevel</key>
		<integer>150</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.313</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>3</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.057</real>
		<key>title</key>
		<string>Archdruid</string>
		<key>lore</key>
		<string>Malfurion Stormrage is the greatest druid on Azeroth, and a student of the demi-god Cenarius. Communing with nature and Cenarius through the Emerald dream, Malfurion protects the wilds from both demonic influences and the savage Horde.</string>
		<key>universe</key>
		<string>Warcraft</string>
		<key>roles</key>
		<array>
			<string>Ranged</string>
			<string>Support</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Li Li</string>
		<key>baseHP</key>
		<integer>835</integer>
		<key>baseHPRegen</key>
		<real>1.738</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>30</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<integer>5</integer>
		<key>hitPointsPerLevel</key>
		<integer>135</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.281</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>4</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.057</real>
		<key>title</key>
		<string>World Wanderer</string>
		<key>lore</key>
		<string>Born upon Shen-zin Su, the Wandering Isle, Li Li Stormstout led a somewhat uneventful life until she began reading the journals of her uncle Chen. Soon, nothing would sate her desire for adventure, exploration, and pestering adventurers around Halfhill.</string>
		<key>universe</key>
		<string>Warcraft</string>
		<key>roles</key>
		<array>
			<string>Ranged</string>
			<string>Support</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Kerrigan</string>
		<key>baseHP</key>
		<integer>830</integer>
		<key>baseHPRegen</key>
		<real>1.664</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>62</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<integer>1</integer>
		<key>hitPointsPerLevel</key>
		<integer>150</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.313</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>10</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.03</real>
		<key>title</key>
		<string>Queen of Blades</string>
		<key>lore</key>
		<string>Once a terran ghost with formidable psionic abilities, Sarah Kerrigan was betrayed by her allies and transformed by the zerg into the Queen of Blades. Now freed of the dark one&apos;s corruption, Kerrigan faces a threat that could destroy the galaxy itself.</string>
		<key>universe</key>
		<string>Starcraft</string>
		<key>roles</key>
		<array>
			<string>Melee</string>
			<string>Assassin</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Illidan</string>
		<key>baseHP</key>
		<integer>830</integer>
		<key>baseHPRegen</key>
		<real>1.73</real>
		<key>baseEnergy</key>
		<integer>0</integer>
		<key>baseEnergyRegen</key>
		<integer>0</integer>
		<key>baseAttack</key>
		<integer>65</integer>
		<key>baseAttackSpeed</key>
		<real>1.25</real>
		<key>range</key>
		<integer>1</integer>
		<key>hitPointsPerLevel</key>
		<integer>145</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.301</real>
		<key>energyPerLevel</key>
		<integer>0</integer>
		<key>energyRegenPerLevel</key>
		<integer>0</integer>
		<key>attackPerLevel</key>
		<integer>15</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.021</real>
		<key>title</key>
		<string>The Betrayer</string>
		<key>lore</key>
		<string>Illidan Stormrage, the first Demon Hunter, betrayed his people by creating a new well of eternity after the demonic invasion of Azeroth. Now Illidan lords over the realm of Outland slaughtering unsuitably prepared Heroes who venture in to his domain.</string>
		<key>universe</key>
		<string>Warcraft</string>
		<key>roles</key>
		<array>
			<string>Melee</string>
			<string>Assassin</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Gazlowe</string>
		<key>baseHP</key>
		<integer>770</integer>
		<key>baseHPRegen</key>
		<real>1.605</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>58</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<integer>1</integer>
		<key>hitPointsPerLevel</key>
		<integer>170</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.355</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>5</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.057</real>
		<key>title</key>
		<string>Boss of Ratchet</string>
		<key>lore</key>
		<string>Few would consider the diminutive Gazlowe a fighter, but what he lacks in height, he more than makes up in mechanical know-how. Besides, you don&apos;t get to be boss of a &quot;boom&quot;-town like Ratchet just because you have a charming personality, if you know what I mean.</string>
		<key>universe</key>
		<string>Warcraft</string>
		<key>roles</key>
		<array>
			<string>Melee</string>
			<string>Specialist</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Falstad</string>
		<key>baseHP</key>
		<integer>710</integer>
		<key>baseHPRegen</key>
		<real>1.48</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>61</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<real>5.5</real>
		<key>hitPointsPerLevel</key>
		<integer>120</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.25</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>11</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.03</real>
		<key>title</key>
		<string>Wildhammer Thane</string>
		<key>lore</key>
		<string>Falstad Wildhammer is the High Thane of the Wildhammer Clan and a founding member of the Council of Three Hammers that now presides over Ironforge. Despite wild speculation, Falstad has never been dead and anyone who claims such is a liar.</string>
		<key>universe</key>
		<string>Warcraft</string>
		<key>roles</key>
		<array>
			<string>Ranged</string>
			<string>Assassin</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>E.T.C.</string>
		<key>baseHP</key>
		<integer>1040</integer>
		<key>baseHPRegen</key>
		<real>2.168</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>59</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<integer>1</integer>
		<key>hitPointsPerLevel</key>
		<integer>240</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.5</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>8</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.01</real>
		<key>title</key>
		<string>Rock God</string>
		<key>lore</key>
		<string>The Power of the Horde incarnated by brutal rhythms and blistering guitar riffs into the form of the most elite tauren chieftain to ever headbang across the surface of Azeroth. Don&apos;t bother putting on socks. He&apos;s just going to rock them off anyways.</string>
		<key>universe</key>
		<string>Warcraft</string>
		<key>roles</key>
		<array>
			<string>Melee</string>
			<string>Warrior</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Diablo</string>
		<key>baseHP</key>
		<integer>1060</integer>
		<key>baseHPRegen</key>
		<real>2.207</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>56</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<integer>1</integer>
		<key>hitPointsPerLevel</key>
		<integer>260</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.543</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>6</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.013</real>
		<key>title</key>
		<string>Lord of Terror</string>
		<key>lore</key>
		<string>Known in the ancient tongue as Al&apos;Diabolos, the Prime Evil of Terror, the Demon Lord Diablo seeks to claim the world of Sanctuary for the Burning Hells. His victims are innumerable, his schemes unknowable, and his gender...malleable.</string>
		<key>universe</key>
		<string>Diablo</string>
		<key>roles</key>
		<array>
			<string>Melee</string>
			<string>Warrior</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Brightwing</string>
		<key>baseHP</key>
		<integer>775</integer>
		<key>baseHPRegen</key>
		<real>1.613</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>47</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<integer>5</integer>
		<key>hitPointsPerLevel</key>
		<integer>140</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.289</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>4</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.057</real>
		<key>title</key>
		<string>The Faerie Dragon</string>
		<key>lore</key>
		<string>Like many Faerie Dragons, Brightwing is happiest darting around the forests of Ashenvale, materializing out of nowhere to heal her friends, then taking a break to grab a light snack. By the way, did you know a human head only weighs ten pounds? Talk about light!</string>
		<key>universe</key>
		<string>Warcraft</string>
		<key>roles</key>
		<array>
			<string>Ranged</string>
			<string>Support</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Arthas</string>
		<key>baseHP</key>
		<integer>1040</integer>
		<key>baseHPRegen</key>
		<real>2.168</real>
		<key>baseEnergy</key>
		<integer>500</integer>
		<key>baseEnergyRegen</key>
		<integer>3</integer>
		<key>baseAttack</key>
		<integer>59</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<integer>1</integer>
		<key>hitPointsPerLevel</key>
		<integer>220</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.457</real>
		<key>energyPerLevel</key>
		<integer>10</integer>
		<key>energyRegenPerLevel</key>
		<real>0.1</real>
		<key>attackPerLevel</key>
		<integer>6</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.03</real>
		<key>lore</key>
		<string>Once the crown prince of Lordaeron, and the protege of Uther the Lightbringer. In a desperate bid to save his people he was corrupted by the cursed blade Frostmourne. Now he serves the Lich King as a death knight, ever bound to his terrible destiny.</string>
		<key>title</key>
		<string>The Lich King</string>
		<key>universe</key>
		<string>Warcraft</string>
		<key>roles</key>
		<array>
			<string>Melee</string>
			<string>Warrior</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Abathur</string>
		<key>baseHP</key>
		<integer>550</integer>
		<key>baseHPRegen</key>
		<real>1.145</real>
		<key>baseEnergy</key>
		<integer>0</integer>
		<key>baseEnergyRegen</key>
		<integer>0</integer>
		<key>baseAttack</key>
		<integer>31</integer>
		<key>baseAttackSpeed</key>
		<integer>1</integer>
		<key>range</key>
		<integer>1</integer>
		<key>hitPointsPerLevel</key>
		<integer>50</integer>
		<key>hitPointRegenPerLevel</key>
		<real>0.105</real>
		<key>energyPerLevel</key>
		<integer>0</integer>
		<key>energyRegenPerLevel</key>
		<integer>0</integer>
		<key>attackPerLevel</key>
		<integer>1</integer>
		<key>attackSpeedPerLevel</key>
		<real>0.057</real>
		<key>lore</key>
		<string>Abathur, the Evolution Master of Kerrigan&apos;s Swarm, works ceaselessly to improve the zerg from the genetic level up. His hate for chaos and imperfection almost rivals his hatred of pronouns.</string>
		<key>title</key>
		<string>Evolution Master</string>
		<key>universe</key>
		<string>Starcraft</string>
		<key>roles</key>
		<array>
			<string>Melee</string>
			<string>Specialist</string>
		</array>
	</dict>
</array>
</plist>
